<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
            <a routerLink="/auth">Authenticate</a>
          </li>
          <li routerLinkActive="active">
              <a routerLink="/shopping-list"> Shopping list</a>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isAuthenticated">
            <a style="cursor: pointer" (click)="onLogout()">Logout</a>
          </li>
          <li class="dropdown" appDropdown *ngIf="isAuthenticated">
            <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer" (click)="onSaveData()">Save data</a></li>
              <li><a style="cursor: pointer" (click)="onFetchData()">Fetch data</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
