<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button
                            type="submit"
                            [disabled]="!recipeForm.valid"
                            class="btn btn-success">Save</button>
                    <button
                            type="button"
                            class="btn btn-danger"
                            (click)="onCancel()"
                    >Cancel</button>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" formControlName="name" id="name" name="name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="imagePath">Image Url</label>
                            <input type="text" formControlName="imagePath"
                                   id="imagePath"
                                   class="form-control" #imagePath>
                        </div>
                        <img [src]="imagePath.value" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea type="text"
                                      id="description"
                                      name="description"
                                      rows="6"
                                      formControlName="description"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add ingredient</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>