<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
              type="text"
              value=""
              name="name"
              id="name"
              class="form-control"
              ngModel=""
              required=""
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
              type="text"
              value=""
              name="amount"
              id="amount"
              class="form-control"
              ngModel=""
              required=""
              pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger"
                  *ngIf="editMode"
                  type="submit"
                  (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="submit" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
